* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 15px;
}

body {
    font-family: 'Spartan', sans-serif;
    padding: 5.5rem 0rem 3.5rem;
    position: relative;
}

.profile__pic {
    display: block;
}

#page__title {
    width: min(70%,380px);
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

#page__description {
    width: min(88%,430px);
    margin: 2em auto 2.3em;
    font-size: 0.95rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.6;
    color: hsl(303, 10%, 53%);
}

.rating {
    width: min(85%,410px);
    margin: 1.3em auto;
    padding: 1.2em 0em;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(252, 215, 232, 0.25);
}

.last__rating {
    margin-bottom: 4em;
}

.rating img {
    margin: 0 3px;
}

.statement {
    font-size: 0.85rem;
    margin-top: 0.8em;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.review {
    width: min(85%,410px);
    margin: 1em auto 2em;
    padding: 2em;
    border-radius: 10px;
    color: hsl(300, 24%, 96%);
    background-color: hsl(300, 43%, 22%);
}

.profile {
    display: flex;
    align-items: center;
    margin: 1.5em 0;
    font-size: 0.9rem;
    font-weight: bolder;
    color: hsl(300, 24%, 96%);
}

.profile__pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile__about {
    margin-left: 20px;
}

.verified {
    display: block;
    margin-top: 5px;
    font-weight: 500;
    color: hsla(333, 80%, 67%,0.7);
}

.content {
    margin-bottom: 0.7em;
    font-size: 0.87rem;
    text-indent: 3px;
    line-height: 1.6;
    color: hsl(300, 24%, 96%);
}

#top-bg {
    position: absolute;
    top: 0%;
    left: 0%;
}

#bottom-bg {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

@media screen and (min-width : 800px) {
    :root {
        font-size: 16px;
    }
    body {
        padding: 5.5rem 0rem 2rem;
    }
    .container1, .container2 {
        width: min(80%,1150px);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .container1 {
        margin-bottom: 1.4em;
    }
    .wrapper1 {
        width: 100%;
    }
    .wrapper2 {
        width: 100%;
    }
    #second__review {
        margin: 2em 2em 1em;
    }
    #third__review {
        margin: 3em 0em 0em;
    }
    #page__title {
        margin: 0;
        text-align: start;
        font-size: 2.1rem;
    }
    #page__description {
        width: min(88%,460px);
        margin: 1em 0em;
        text-align: start;
        font-size: 0.8rem;
    }
    .rating {
        width: min(85%,440px);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .statement {
        align-self: flex-start;
        margin-top: 0;
        font-size: 0.67rem;
    }
    .rating img {
        margin: 0 1.5px;
        width: 10px;
        height: 10px;
    }
    #first__rating {
        margin: 0em 0em 1.3em;
    }
    #second__rating {
        margin: 1.3em auto;
    }
    #third__rating {
        margin: 0;
        float: inline-end;
    }
}

@media screen and (min-width : 930px) {
    #page__title {
        font-size: 2.5rem;
    }
    #page__description {
        font-size: 0.9rem;
    }
    .statement {
        font-size: 0.8rem;
    }
    .rating img {
        width: 15px;
        height: 15px;
    }
} 